
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

  

:root {
  --cor-primaria: #191A19;
  --cor-secundaria: #D8E9A8;
  --cor-terciaria: #4E9F3D;}

* {
    margin: 0;
    padding: 0;
}


body {
box-sizing: border-box;
background-color: var(--cor-primaria);
color: var(--cor-secundaria);

}

.cabecalho{
  padding: 1% 1% 1% 8%;
  background-color: var(--cor-terciaria)

}

.cabecalho_menu {
display: flex;
gap: 80px;

}

.cabecalho_link{
  font-family: 'Montserrat', sans-serif;
  font-size: 110%;
  font-weight: 600;
  color:var(--cor-primaria);
  text-align: center;
  text-decoration: none;

}

.apresentacao{
padding: 7%;
display: flex;
align-items: center;
justify-content: space-between;
}

.apresentacao_conteudo {
 width: 70%;
 display:flex;
 flex-direction: column;
 gap: 30px;

}

.apresentacao_conteudo_titulo {
font-size: 200%;
font-family: 'Krona One', sans-serif;


}

.destaqueTexto {
color:var(--cor-terciaria)
}

.apresentacao_conteudo_texto{
font-size: 110%;
text-align: justify;
font-family: 'Montserrat', sans-serif;
font-weight:500;
padding: 0% 0% 0% 0%;

}

.icons{

display: inline_block;
}

.iconsimg{
align-items: center;
width:20%;
padding: 1% 0% 6% 0;
font-family: 'Krona One', sans-serif;
color: var(--cor-secundaria)

}
.foto_beatriz{

    width: 20%;
    height: 20%;
    border-radius: 10%;
    border: 2px solid var(--cor-terciaria);
    border-style: double;

    }
    
.apresentacao_botoes_links {

display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;

}

.botao_link{

display: flex;
justify-content: center;
gap: 15px;
border: 2px solid var(--cor-terciaria);
width: 200%;
border-radius: 8px;
color: var(--cor-secundaria);;
padding: 1% 0;
text-decoration: none;
font-size: 105%;
align-items: center;
font-family: 'Krona One', sans-serif;

}

.botao_link:hover{
  background-color:var(--cor-terciaria);

}


.rodape{

  padding: 1% 0% 1% 0%;
  color:var(--cor-primaria);
  background-color:var(--cor-terciaria);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size:110%;

}
    