
  @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

  

:root {
  --cor-primaria: #191A19;
  --cor-secundaria: #D8E9A8;
  --cor-terciaria: #4E9F3D;}

* {
    margin: 0;
    padding: 0;
}


body {
box-sizing: border-box;
background-color: var(--cor-primaria);
color: var(--cor-secundaria);

}

.cabecalho{
  padding: 1% 1% 1% 6%;
 background-color: var(--cor-terciaria);


}

.cabecalho_menu {
display: flex;
gap:80px;


}

.cabecalho_link{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color:var(--cor-primaria);
  text-decoration: none;
 
}

.apresentacao{
padding: 5% 15%;
display: flex;
align-items: center;
justify-content: space-between;
gap: 82px;
}

.apresentacao_conteudo {
 width: 80%;
 display:flex;
 flex-direction: column;
 gap: 40px;

}

.apresentacao_conteudo_titulo {
font-size: 2rem;
font-family: 'Krona One', sans-serif;

}

.destaqueTexto {
color:var(--cor-terciaria)
}

.apresentacao_conteudo_texto{
font-size: 1.3rem;
font-family: 'Montserrat', sans-serif;
font-weight:500;

}

.apresentacao{

display: inline_block;
align-items: center;
}

.iconsimg{
align-items: center;
width: 40px;
padding: 1% 0% 6% 0;
font-family: 'Krona One', sans-serif;
color: var(--cor-secundaria);

}
.foto_beatriz{

    width: 20%;
    border-radius: 10%;
    border: 3px solid var(--cor-terciaria);

    }
    
.apresentacao_botoes_links {

display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
gap: 32%;

}

.botao_link{

display: flex;
justify-content: center;
gap: 16px;
border: 2px solid var(--cor-terciaria);
width: 50%;
text-align: center;
border-radius: 8px;
color: var(--cor-secundaria);;
padding: 21px 0;
text-decoration: none;
font-size: 1.5rem;
font-family: 'Krona One', sans-serif;

}

.botao_link:hover{
  background-color:var(--cor-terciaria);

}


.rodape{

  padding: 24px;
  color:var(--cor-primaria);
  background-color:var(--cor-terciaria);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}